<!-- Created: Alfredo Vieira Neto
Student Number: 301106786
Subject: COMP229 - Web Application Development
Date: 10/01/2020
Institution: Centennial College
Component: Footer -->

<div class="footer">
    <div class="footer_upper">
        <div class="footer__column">
            <a href="/" class="navbar_logo"></a>
            <h2 class="text-center--white">Open your mind for the possibilities!</h2>
        </div>
        <div class="footer__column">
            <h2 class="footer__title">Social</h2>
            <ul class="footer__list-links">
                <li><a class="footer__list-links__item" href="https://www.facebook.com/alfredspidey?ref=bookmarks" target="blank">Facebook</a></li>
                <li><a class="footer__list-links__item" href="https://www.instagram.com/asa_neto/" target="blank">Instagram</a></li>
                <li><a class="footer__list-links__item" href="https://github.com/AlfredSpidey" target="blank">GitHub</a></li>
                <li><a class="footer__list-links__item" href="https://www.linkedin.com/in/alfredo-vieira-728694154/" target="blank">LinkedIn</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h2 class="footer__title">Links</h2>
            <ul class="footer__list-links">
                    <li><a class="footer__list-links__item" href="/">Home</a></li>
                    <li><a class="footer__list-links__item" href="/about">About</a></li>
                    <li><a class="footer__list-links__item" href="/projects">Projects</a></li>
                    <li><a class="footer__list-links__item" href="/services">Services</a></li>
                    <li><a class="footer__list-links__item" href="/contact">Contact</a></li>
                </ul>
        </div>
    </div>
    <div class="footer_down">
        <p class="text-center text-muted">&copy; Copyright 2020 Alfredo Vieira Neto</p>
    </div>
</div>