<!-- Created: Alfredo Vieira Neto
Student Number: 301106786
Subject: COMP229 - Web Application Development
Date: 10/01/2020
Institution: Centennial College
Component: Header -->

<div class="header">
<nav class="navbar" role="navigation">
	<div class="navbar_header">
		<a class="navbar_logo" href="/"></a>
	</div>
	<ul class="navbar_items">
		<li class="navbar_li"><a class="navbar_a" href="/">Home</a></li>
		<li class="navbar_li"><a class="navbar_a" href="/about">About</a></li>
		<li class="navbar_li"><a class="navbar_a" href="/projects">Projects</a></li>
		<li class="navbar_li"><a class="navbar_a" href="/services">Services</a></li>
		<li class="navbar_li"><a class="navbar_a" href="/contact">Contact</a></li>
		<%if (logged) { %>
			<li class="navbar_li"><a class="navbar_a" href="/bussiness_contacts">Bussiness Contacts List</a></li>
			<li class="navbar_li"><a class="navbar_a" href="/logout">Log Out</a></li>
		<% }else{ %>
			<li class="navbar_li"><a class="navbar_a" href="/login">Log In</a></li>
		<% } %>
		
		
	</ul>
</nav>
</div>