<!DOCTYPE html>
<html lang="en">
<head>
	<% title="About"; %>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
		
			
				<div class="high">
					<h1 class="high_title">Alfredo Vieira Neto</h1>
					<p class="high_subtitle">About Me</p>
				</div>
				
			
			
				
				<div class="content">
					<div class="center_content">
						<img class="about_me_img" src="assets/profile.jpg"/>
						<p id="about_me_text">For those who don't know me, my name is Alfredo Vieira Neto. Born and raised in Blumenau, Brazil, I have been studying Computer Science since I was 15 years old. After geting my Diploma in IT, I decided to move to Canada to study and develop myself as a professional.
							<br/>
							<br/>
							But my life is not only study and work, I have lots of hobbys, and they are a very important part of my life. Kung Fu is one of them, I feel like a million dollars when training. Swiming and exploring nature, snowboarding and skateboarding, drawing and writting, are some tiny examples of what I spend my time on..
							<br/>
							<br/>
							Like everybody else, I have a dream! To become a great and recognized developer. That is what makes me motivaded every single day in my life! Developing high standard quality software with vision and professionalism.
						</p>
					</div>
					<div class="curved-bg-div wow  fadeIn animated" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;"></div>
					<div style="text-align: center; padding: 50px;">
						<img style="margin-bottom: 50px;" src="assets/resume.png"/>
						<br/>
						<a target="blank" href="https://drive.google.com/file/d/1SeiNi6ubRt9sUNHONtTqpOPYhKMD9MTQ/view?usp=sharing" style="text-decoration: none; font-size: 30px; color: #648cff;">Take a look at my resume here</a>
						<p style="font-size: 30px;">or</p>
					</div>
					<div style="text-align: center; margin-top: -40px; margin-bottom: 200px;">
						<a class="link_text" href="/projects">Get to know some of my projects...</a>
					</div>
				</div>

		
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>