<!DOCTYPE html>
<html lang="en">
<head>
	<% title="Home"; %>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="high">
			<h1 class="high_title">Alfredo Vieira Neto</h1>
			<p class="high_subtitle">The solution in your hands</p>
		</div>
		<div class="content">
			<div class="center_content">
				<p class="big_phrase">“The only thing that we have to decide is what to do with the time that is given us.”</p>
				<p class="big_author">― J. R. R. Tolkein</p>
			</div>
			<div class="curved-bg-div wow  fadeIn animated" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;"></div>
			<div style="margin-bottom: 200px; margin-left: 200px; margin-right: 200px; text-align: center;">
				<h4 class="normal_title">Mission</h4>
				<p style="font-size: 30px;">Deliver exquisite software solution to all public</p>
				<a href="/about" class="link_text">Let me walk you through my story...</a>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>