<!DOCTYPE html>
<html lang="en">
<head>
	<% title="Projects"; %>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			
			
				<div class="high">
					<h1 class="high_title">Alfredo Vieira Neto</h1>
					<p class="high_subtitle">Projects</p>
				</div>
				
		
				
				<div class="content">
					<div class="center_content">
						<div class="project_container">
							<img src="assets/java.png" alt="java.IsFun();" class="project_img">
							<a target="blank" style="text-decoration: none;" href="https://play.google.com/store/apps/details?id=br.ifcibirama.dell_pc.javaisfun"><h4 class="project_title">java.IsFun();</h4></a>
							<p class="project_text">Learn Java in an easy and fun way!</p>
						</div>
						<div class="project_container">
							<img src="assets/purple.png" alt="Purple's Adventure" class="project_img">
							<h4 class="project_title">Purple's Adventure</h4>
							<p class="project_text">An incredible platform game that will take your breath away! <br/> Coming up in 2021</p>
						</div>
						<div class="project_container">
							<img src="assets/vocalmeet.png" alt="Vocalmeet" class="project_img">
							<a target="blank" style="text-decoration: none;" href="https://www.linkedin.com/company/vocalmeet/"><h4 class="project_title">Vocalmeet</h4></a>
							<p class="project_text">At vocalmeet I develop web applications for big corporations.</p>
						</div>
					</div>
				</div>

		
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>